<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProgramaTestes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProgramaTestes.My.MySettings.TestesBdConnectionString"
            connectionString="Data Source=TIAGO\SQLEXPRESS;Initial Catalog=TestesBd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProgramaTestes.My.MySettings.TestesBd2ConnectionString"
            connectionString="Data Source=TIAGO\SQLEXPRESS;Initial Catalog=TestesBd2;User ID=Admin;Password=Admin"
            providerName="System.Data.SqlClient" />
        <add name="ProgramaTestes.My.MySettings.TestesFinalConnectionString"
            connectionString="Data Source=TIAGO\SQLEXPRESS;Initial Catalog=TestesFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ProgramaTestes.My.MySettings>
      <setting name="Username" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="Username2" serializeAs="String">
        <value>Funcionario</value>
      </setting>
      <setting name="Password2" serializeAs="String">
        <value>Funcionario</value>
      </setting>
    </ProgramaTestes.My.MySettings>
  </userSettings>
</configuration>